<suite name="Lessons" verbose="1" >
        <test name="all-tests">
            <packages>
                <package name="api.lessons"/>
                <package name="lessons"/>
                <package name="api.mentors"/>
                <package name="api.courses"/>
                <package name="courses"/>
                <package name="changePassword"/>
            </packages>
        </test>
</suite>
