<suite name="Lessons" verbose="1" >
        <test name="all-tests">
            <packages>
                <package name="api.lessons"/>
                <package name="lessons"/>
                <package name="api.mentors"/>
                <package name="api.courses"/>
                <package name="courses"/>
                <package name="changePassword"/>
                <package name="api.accounts"/>
                <package name="api.students"/>
                <package name="registration"/>
                <package name="students"/>
            </packages>
        </test>
</suite>
